.uk-label,
.uk-button {
  border-radius: 10px !important;
}

.uk-label,
.uk-button,
.uk-input,
.uk-textarea {
  border-radius: 10px;
}

.samd-border {
  border: 1px solid rgba(0, 0, 0, 0.075);
}

.samd-bg {
  background-color: rgba(4, 102, 20, 1);
}

.samd-rounded {
  border-radius: 10px;
}

.samd-rounded-bottom {
  border-radius: 0 0 10px 10px;
}

.rectangle {
  width: 1000px;
  height: 600px;
  border-color: black;
  border-width: 10px;
  margin-left: 10px;
  stroke: black;
  border: solid;
}

.okeyTable {
  width: 600px;
  height: 400px;
  position: relative;
}

.rectangleA {
  width: 100px;
  height: 250px;
  color: black;
  border-color: black;
  border-width: 10px;
  stroke: black;
  border: solid;
  top: 50px;
  left: -100px;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rectangleB {
  width: 500px;
  height: 100px;
  color: black;
  border-color: black;
  border-width: 10px;
  stroke: black;
  border: solid;
  top: -60px;
  left: 50px;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rectangleC {
  width: 100px;
  height: 250px;
  color: black;
  border-color: black;
  border-width: 10px;
  stroke: black;
  border: solid;
  top: 50px;
  left: 601px;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.playerInput {
  top: 0px;
  left: -250px;
  position: absolute;
  text-align: center;
  font-weight: bold;
  border: 0px !important;
  font-size: 12px !important;
}

.cell0 {
  width: 30px;
  height: 50px;
  border-color: blue;
  border-width: 10px;
  stroke: black;
  border: solid;
  top: 80px;
  left: 500px;
  position: absolute;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.cell1 {
  width: 30px;
  height: 50px;
  border-color: brown;
  border-width: 10px;
  stroke: black;
  border: solid;
  top: 280px;
  left: 500px;
  position: absolute;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.cell2 {
  width: 30px;
  height: 50px;
  border-color: green;
  border-width: 10px;
  stroke: black;
  border: solid;
  top: 280px;
  left: 70px;
  position: absolute;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.cell3 {
  width: 30px;
  height: 50px;
  border-color: cyan;
  border-width: 10px;
  stroke: black;
  border: solid;
  top: 80px;
  left: 70px;
  position: absolute;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.okeyTile {
  width: 30px;
  height: 50px;
  border-color: cyan;
  border-width: 10px;
  stroke: black;
  border: solid;
  top: 175px;
  left: 285px;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.myTable {
  border-collapse: collapse;
  top: 35px;
  border: 0px;
  position: absolute;
}

table,
th,
td {
  border-collapse: collapse;
  table-layout: fixed;
  border: 0px solid black;
  height: 30px;
  font-weight: bold;
  font-size: 18px;
}

td,
th {
  border: 1px solid black;
}

.gamePlay td {
  border: 0px solid black;
}

.rectangleD {
  box-shadow: 0px;
}

textarea {
  margin-top: 2px;
  width: 180px;
  height: 40px;
  border-radius: 10px;
}

.rectangleChat {
  width: 150px;
  height: 20px;
  border-width: 10px;
  margin-left: 10px;
  padding-left: 4px !important;
  top: 100px;
  left: 700px;
  position: absolute;
}

.chat-box {
  overflow-y: scroll;
  stroke: black;
  border: solid;
  width: 180px;
  height: 100px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.remainingTiles {
  transform: translate(325px, 215px);
  font-size: 12px;
  color: brown;
  font-weight: 500;
}

.pointTable {
  font-size: 12px !important;
  font-weight: normal !important;
  margin-top: 4px !important;
}

.pointTable td {
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px !important;
  font-weight: normal !important;
  margin-top: 4px !important;
}

.gostergeBtn {
  top: 350px;
  left: -260px;
  position: absolute;
  display: block;
}

.roomName {
  font-size: 16px !important;
  max-width: 190px !important;
  /* width: 8px !important; */
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  display: inline-block;
}

.readyPlayerList {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
